:root {
	--light-grey: #d4dbde;
	--primary-orange-mid: #ff1500;
	--primary-orange-dark: #c91100;
}

/* Change button colour */
.btn-outline-warning {
	background-color: #fff;
	color: var(--primary-orange-mid);
	border-color: var(--primary-orange-mid);
}

.btn-outline-warning:hover {
	color: #fff;
	background-color: var(--primary-orange-mid);
	border-color: var(--primary-orange-mid);
}

/* Change logo colour */
.container > .navbar-brand {
	color: var(--primary-orange-mid);
	transition: color 0.25s ease;
}

.container > .navbar-brand:hover {
	color: var(--primary-orange-dark);
}

.vertical-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.max-width {
	max-width: 1000px;
}

.form-width {
	min-width: 450px;
	max-width: 450px;
}

.img-thumbnail {
	padding: 2px;
	background-color: var(--light-grey);
}

.alert {
	box-shadow: 0 6px 9px -3px #00000055;
}
