:root {
	--light-grey: #d4dbde;
	--primary-orange-mid: #ff1500;
	--primary-orange-dark: #c91100;
}

/* Change button colour */
.btn-outline-warning {
	background-color: #fff;
	color: var(--primary-orange-mid);
	border-color: var(--primary-orange-mid);
}

.btn-outline-warning:hover {
	color: #fff;
	background-color: var(--primary-orange-mid);
	border-color: var(--primary-orange-mid);
}

.btn-outline-warning:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: var(--primary-orange-dark);
	border-color: var(--primary-orange-dark);
}

/* Change logo colour */
.container > .navbar-brand {
	color: var(--primary-orange-mid);
	transition: color 0.25s ease;
}

.container > .navbar-brand:hover {
	color: var(--primary-orange-dark);
}

.vertical-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.max-width-970 {
	max-width: 970px;
}

.max-width-1000 {
	max-width: 1000px;
}

.form-width {
	min-width: 450px;
	max-width: 450px;
}

body {
	background-image: url(images/grinder-sparks-bg.jpg);
}

.img-thumbnail {
	padding: 0;
	background-color: var(--light-grey);
}

.modal > .modal-dialog > .modal-content {
	box-shadow: 0 0 30px 5px rgba (0, 0, 0, 0.3) !important;
}

.card {
	border: none;
}

.nav-link {
	cursor: pointer;
}

.mt-8 {
	margin-top: 80px;
}
